<script>
import { watch, ref } from "vue";
import { formatSize, formatCo2 } from "../utils/format";

// const endpoint = "http://127.0.0.1:5000/servo";
const endpoint = "http://localhost:5000/servo";
const logDataChanges = false;
var count = 0;
var step = 10;

export default {
  data() {
    return {
      large: false,
    };
  },
  setup(props, context) {
    const large = ref(false);
    const data = ref(0);
    const co2 = ref(0);
    // Data/CO2 watcher
    watch([data, co2], (newValue, oldValue) => {
      count++;
      onMetricChange(count, newValue, oldValue); // Trigger each time Data/CO2 change
    });
    return { large, data, co2, formatSize, formatCo2 };
  },
};

function onMetricChange(count, newValue, oldValue) {
  const carbonVizData = {
    count: count,
    newData: newValue[0],
    oldData: oldValue[0],
    newCo2: formatCo2(newValue[1], 2, false),
    oldCo2: formatCo2(oldValue[1], 2, false),
  };

  if (logDataChanges) {
    console.group("Change trigger");
    console.group("DATA");
    console.log(`NEW: ${newValue[0]}`);
    console.log(`OLD: ${oldValue[0]}`);
    console.groupEnd();
    console.group("CO2");
    console.log(`NEW: ${newValue[1]}`);
    console.log(`OLD: ${oldValue[1]}`);
    console.groupEnd();
    console.groupEnd();
    console.log("");
    console.log(`Counter: ${count % step}`);
    console.log(carbonVizData);
    console.log("");
  }

  async function postData(url = "", data = {}) {
    // Default options are marked with *
    const response = await fetch(url, {
      method: "POST",
      mode: "no-cors", // no-cors, *cors, same-origin
      // cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
      credentials: "include", // include, *same-origin, omit
      headers: new Headers({
        "Content-Type": "application/json",
        "Access-Control-Allow-Origin": "*",
        "Accept": "application/json",
        // "Access-Control-Allow-Credentials": true,
        // 'Content-Type': 'application/x-www-form-urlencoded',
      }),
      // redirect: "follow", // manual, *follow, error
      referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
      body: JSON.stringify(data), // body data type must match "Content-Type" header
    })
    .then(response => response.json())
    .then(data => {
      console.log('Success:', data);
    })
    .catch((error) => {
      console.error('Error:', error);
    });
  }

  if (count % step == 0) {
    postData(endpoint, carbonVizData).then((data) => {
      console.log("Send post request…");
    })
    .catch((error) => {
      console.error('Post request error:', error);
    });
  }
}
</script>

<template>
  <section :class="large ? 'large' : 'small'">
    <div class="co2">
      <svg fill="none" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M2.467 7a4.533 4.533 0 109.066 0 4.533 4.533 0 00-9.066 0z"
          stroke-width="3.5"
        ></path>
      </svg>
    </div>
    <span
      >CO<sub>2</sub> - <span class="val">{{ formatCo2(co2) }}</span></span
    >
    <div class="data">
      <svg fill="none" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M8 13.212L13.212 8 8 2.788 2.788 8 8 13.212z"
          stroke-width="3"
        ></path>
      </svg>
    </div>
    <span
      >Data - <span class="val">{{ formatSize(data) }}</span></span
    >
  </section>
</template>

<style scoped lang="scss">
section {
  margin-top: 10px;
  margin-left: 10px;
  display: grid;
  font-weight: 700;
  font-size: 10px;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 5px;
}
.co2 {
  padding-left: 1px;
}
section > span {
  padding-left: 4px;
}
.val {
  color: grey;
  font-weight: 400;
}
.co2 {
  stroke: #906c0d;
}
.data {
  stroke: #3d4d50;
}
.co2 {
  svg {
    width: 14px;
    height: 14px;
  }
}
.data {
  svg {
    width: 16px;
    height: 16px;
  }
}
.large {
  font-size: 10px;
  span {
    padding-top: 4px;
  }
  .co2 {
    svg {
      width: 23px;
      height: 23px;
    }
  }
  .data {
    svg {
      width: 25px;
      height: 25px;
    }
  }
}
@media (prefers-color-scheme: dark) {
  .co2 {
    stroke: #bbaa70;
  }
  .data {
    stroke: #a3afb1;
  }
  section {
    color: #bfbfbf;
  }
}
</style>
